<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
              <cors enabled="true" failUnlistedOrigins="true">
            <add origin="*" />
            <add origin="http://192.168.80.29:8888"
                 allowCredentials="true"
                 maxAge="120"> 
                <allowHeaders allowAllRequestedHeaders="true">
                    <add header="header1" />
                    <add header="header2" />
                </allowHeaders>
                <allowMethods>
                     <add method="DELETE" />
                     <add method="POST" />
                     <add method="GET" />
                     <add method="PUT" />
                     <!-- <add method="OPTIONS" />
                    <add method="HEAD" /> -->
                </allowMethods>
                <exposeHeaders>
                    <add header="header1" />
                    <add header="header2" />
                </exposeHeaders>
            </add>
            <!-- <add origin="http://*" allowed="false" /> -->
        </cors>

        <handlers>
            <add name="iisnode" path="run.cjs" verb="*" modules="iisnode" resourceType="File" />
        </handlers>

        <rewrite>
            <rules>
                <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url="^app.js\/debug[\/]?" />
                    <action type="None" />
                </rule>
                <rule name="ReqToServerjs">
                    <match url=".*" />
                    <action type="Rewrite" url="run.cjs" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
